
.btn-primary {
  background-color: #F25700;
  border: 1px solid #303030 !important;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
}

.container {
  width: min(100%, 1000px);
}

.btn-primary:hover {
  background-color: hsl(22, 100%, 40%);
}

.btn-primary:active {
  background-color: hsl(22, 100%, 38%) !important;
}

.btn-secondary {
  border-radius: 12px;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-content {
  border-radius: 12px;
  border-color: #303030;
  background-color: #ececec;
}

.form-control {
  border-radius: 8px;
  border: 1px solid #303030;
}

form div {
  margin-bottom: 10px;
}